<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 pr-4">
  
  <%= link_to root_path, data:{ turbolinks: false} do %>
  <div class='logo'>
  
    
    <%= image_tag "RG.png", alt: "Renata Grassi", width: 250 %> 
  </div> 
  <%end%>
  
  <div class='flex-container'>

    <%= link_to about_path, class: "link" do%>
      <div class='flex-item'>About</div>
      <%end%>
      
    <%=link_to root_path, class: "link" do%>
      <div class='flex-item'>Portfolio</div>
        <%end%>

    <%= link_to sideprojects_path, class: "link" do%>
      <div class='flex-item'>Side Projects</div>
    <%end%>

    <%= link_to contact_path, class: "link" do%>
      <div class='flex-item'>Contact</div>
      <%end%>
  
  </div>

</nav>