<nav class="navbar" style="height: 400px">
  <%= link_to root_path, data:{ turbolinks: false} do %>
  <div class='logo'>
    <%= image_tag "RG.gif", alt: "Renata Grassi", width: 350 %> 
  </div> 
  <%end%>
  
  <div class='flex-container'>

    <%=link_to root_path, class: "link" do%>
      <div class='flex-item'>Portfolio</div>
        <%end%>
      
    
    <%= link_to about_path, class: "link" do%>
      <div class='flex-item'>Sobre</div>
      <%end%>
      

    <%= link_to contact_path, class: "link" do%>
      <div class='flex-item'>Contato</div>
      <%end%>

    <%= link_to sideprojects_path, class: "link" do%>
      <div class='flex-item'>Projetos Paralelos</div>
    <%end%>
  </div>


</nav>